@import "~antd/dist/antd.css";


.App {
  font-family: "Quicksand";
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LandingPage {
  background-image: linear-gradient(to top, rgba(63, 65, 69, 0), rgba(0, 0, 0, 0.73)),
    url("./components/images/plant.jpg");
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  overflow: scroll;
}

.BackgroundWeedImage {
  background-image: linear-gradient(to top, rgba(63, 65, 69, .7), rgba(0, 0, 0, 0.80)),
  url("./components/images/weed_forest.jpg");
  background-size: cover;
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 100%;
}


.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.ant-radio-button-wrapper {
  background-color: white;
}

.ant-radio-button-wrapper:hover {
  color: rgb(110, 51, 95);
}

.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #999999;
  border: #999999;
}

.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color: #b0b392;
  border: #999999;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  opacity: 1;
  background-color: #999999 !important;
}

.anticon-spin {
  color: black;
}

.ant-card-hoverable {
  border-radius: 7px;
}

.ant-input:hover {
  border-color: #999999;
}

.ant-select-selection:hover {
  border-color: #999999;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #384A42;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #384A42;
}

.ant-tabs-ink-bar {
  background-color: #999999;
}

.ant-btn:hover, .ant-btn:focus {
  border-color: #999999;
  color: #999999;
}