#submit {
    padding-top: 60px;
    text-align: center;
}

#signHeader {
    text-align: center;
}

#post-header {
    text-align: center;
    padding-bottom: 40px;
}

#maingroup {
    padding-top: 100px;
}

.navbar-brand {
    font-family: Lobster;
    font-size: 220%;
}

.btn-align {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    width: 70%;
    margin-bottom: 5px;
}

#post {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 7%;
}

#submit-post-form {
    padding-top: 40px;
}

#sub-btn {
    display: inline-block;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#user-widget {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#categories {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submit2{
	text-align: center;
}

body {
    background: linear-gradient(to bottom right, #3a6186, #531726); repeat 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.py5 {
    position: absolute;
    bottom: 0;

}

.signin {
    padding: 25px;
}



.col-lg-8 {
    background-color: rgb(239, 239, 239, .5);
}
.strain-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector {
    text-align: center;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.sativa{
    background-image:url(images/sativa2.png);
}
.hybrid{background-image:url(images/hybrid4.png);}
.indica{background-image:url(images/indica.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
